.colorstorage {
    color: #E6EDE6;
    color: #F1AF48;
    color: #8D8D95;
    color: #6C7685;
    color: #221945;

    /* Fonts */
    font-family: 'Cinzel Decorative', cursive;
font-family: 'Raleway', sans-serif;

}

body {
    font-family: 'Raleway', sans-serif;
    height: 100%;
    margin: 0;

}


#title {
    font-family: 'Cinzel Decorative', cursive;
    color: #E6EDE6;
    font-weight: bold;
    font-style: italic;
}

.navbar-brand {
    text-align: center;
    margin-left: 35px;
}
.wrapper, body {
    background-color: transparent;
}

/* For the background */
html  {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to top left,#a7afbb, #2a446b );
    width: auto;
    height: 100%;
}

/* I know this is using bootstrap, but I can't help it. */
.display-4 {
    font-family: 'Cinzel Decorative', cursive;
    color: #221945;
    font-weight: bold;
}

td {
    font-family: 'Cinzel Decorative', cursive;
}

tr {
    font-weight: bold;
}

.col-sm-6 {
    font-family: 'Raleway', sans-serif;
    background: transparent;
}

.card-body {
        background-image: linear-gradient( #babac7, #8D8D95);
    border-radius: 5px;
    border-bottom: 5px,#6C7685;
    border-top: transparent;
}

.card {
background: transparent;
transition: height 4s;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Arial;

}

.t-name {
    color: black;
    background: #E6EDE6;
}

button, input {
    font-size: 1em;
    font-family: Arial;
}

label {
    font-weight: 900;
}

input {
    border: 2px solid transparent;
    border-radius: 6px;
    padding: 0.4em 0.8em;
    background-color: #e2e8f0;
}

input:focus {
    background-color: #ffffff;
    border: 2px solid #cbd5e0;
    outline: 0;
}


button {
background: #F1AF48;
color: #221945;
}

button:hover {
background: #d39126;

}

button:active {
    box-shadow: none;
    transform: translateY(3px);
}

table {
    width: 100%;
}

.error {
    color: #a50505;
}

.wrapper {
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
}

.total {
    font-size: 150%;
}

form {
    margin-top: 25px;
}

.bodystuff {
        border-top: 2px, #221945;
}
.transactions {
    background: #E6EDE6;
    text-align: left;
    max-height: 300px;
    overflow: auto;
    width: 90%;
    border-top: thin, #221945;
    border-bottom: transparent;
    border-radius: 12px;
    padding: 2px;
    padding-left: 5px;
    margin: 0 auto;
}

.transaction-buttons {
    margin-top: 25px;
}